.navContainer {
  margin: 1rem 0 0.7rem 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
}

.mainContainer {
  width: 80rem;
  height: 20rem;
  margin: 0 auto;
  padding-top: 1rem;
}

.mainContainer th, td {
  border: 1px solid rgb(0, 0, 0);
}
