body {
  background-color: rgb(215, 215, 215);
}

.navContainer {
  margin: 1rem 0 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
}

.mainContainer {
  width: 80rem;
  height: 20rem;
  margin: 0 auto;
  padding-top: 1rem;
}

.mainContainer td {
  border: 1px solid rgb(0, 0, 0);
}
.mainContainer th {
  border: 1px solid rgb(0, 0, 0);
}
